# Ignore Extensions #

*.exe
*.log

# Ignore directories #

.vscode
build

# Ignore  CMake files and Make #

Makefile

*CMake*

!CMakeLists.txt

# Ignore doxygen files

*documentation*
!documentation/refman.pdf

# Ignore executable

*voxel-world*